[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = gitk
[user]
	name = Michele Hallak
	email = mhallak@xicore.net
[core]
	editor = vi
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
    	ui = auto
    	ui = true
[color "branch"]
    	current = yellow reverse
    	local = yellow
    	remote = green
[color "diff"]
    	meta = yellow bold
    	frag = magenta bold
    	old = red bold
    	new = green bold
    	whitespace = red reverse
[color "status"]
    	added = yellow
    	changed = green
    	untracked = cyan
